{% extends "club.twig" %}
{% block pageTitle %}Calendar / Club{% endblock %}
{% block mainContent %}
<article>
    <a id="start" name="start"></a>
    <div class="article-heading-container">
        <h2 class="article-parent">Club</h2>
        <h1 class="article-heading">Calendar</h1>

        <div class="calendar-capiton">
            <a href="#" class="float-left"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M9.15 3.613c-.334.326-3.602 3.757-3.602 3.757-.178.174-.267.402-.267.63s.089.456.267.63c0 0 3.267 3.43 3.602 3.756.334.326.936.349 1.293 0 .356-.348.384-.834-.001-1.26l-2.998-3.126 2.998-3.126c.385-.427.357-.913.001-1.261-.358-.348-.959-.326-1.293 0z"/></svg></a>
            <a href="#" class="float-right"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M6.85 3.613c.334.326 3.602 3.757 3.602 3.757.179.174.268.402.268.63s-.089.456-.268.63c0 0-3.267 3.43-3.602 3.756-.334.326-.935.349-1.293 0-.357-.348-.385-.834 0-1.26l2.998-3.126-2.998-3.126c-.385-.427-.357-.913 0-1.261.357-.348.958-.326 1.292 0z"/></svg></a>
            January 2014</div>
        <table class="calendar">
            <tr>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>
            <tr>
                <td class="off"><a>26</a></td>
                <td class="off"><a>27</a></td>
                <td class="off"><a>28</a></td>
                <td class="off"><a>29</a></td>
                <td class="off"><a>30</a></td>
                <td class="off"><a>31</a></td>
                <td><a>1</a></td>
            </tr>
            <tr>
                <td><a>2</a></td>
                <td><a>3</a></td>
                <td><a>4</a></td>
                <td><a>5</a></td>
                <td><a>6</a></td>
                <td><a>7</a></td>
                <td><a>8</a></td>
            </tr>
            <tr>
                <td><a>9</a></td>
                <td><a>10</a></td>
                <td><a>11</a></td>
                <td><a>12</a></td>
                <td><a>13</a></td>
                <td><a>14</a></td>
                <td><a>15</a></td>
            </tr>
            <tr>
                <td><a>16</a></td>
                <td><a>17</a></td>
                <td><a>18</a></td>
                <td><a>19</a></td>
                <td><a>20</a></td>
                <td class="active"><a>21</a>
                    <div class="hidden">
                        <ol>
                            <li><div>25 Aug &rarr; 1 Sep</div><div>Поездка в Колумбию</div></li>
                        </ol>
                    </div>
                </td>
                <td class="active"><a>22</a>
                    <div class="hidden">
                        <ol>
                            <li><div>25 Aug &rarr; 1 Sep</div><div>Поездка в Колумбию</div></li>
                        </ol>
                    </div>

                </td>
            </tr>
            <tr>
                <td class="active many"><a>23</a>
                    <div class="hidden">
                        <ol>
                            <li><div>25 Aug &rarr; 1 Sep</div><div>Поездка в Колумбию Lorem ipsum dolor sit amet dlinnij text</div></li>
                            <li><div>25 Aug &rarr; 1 Sep</div><div>Поездка в Колумбию</div></li>
                        </ol>
                    </div>
                </td>
                <td class="active many"><a>24</a>
                    <div class="hidden">
                        <ol>
                            <li><div>25 Aug &rarr; 1 Sep</div><div>Поездка в Колумбию</div></li>
                            <li><div>25 Aug &rarr; 1 Sep</div><div>Поездка в Колумбию</div></li>
                            <li><div>25 Aug &rarr; 1 Sep</div><div>Поездка в Колумбию</div></li>
                        </ol>
                    </div>
                </td>
                <td><a>25</a></td>
                <td><a>26</a></td>
                <td class="active"><a>27</a>
                    <div class="hidden">
                        <ol>
                            <li><div>25 Aug &rarr; 1 Sep</div><div>Поездка в Колумбию</div></li>
                        </ol>
                    </div>

                </td>
                <td class="active many"><a>28</a>
                    <div class="hidden">
                        <ol>
                            <li><div>25 Aug &rarr; 1 Sep</div><div>Поездка в Колумбию</div></li>
                            <li><div>25 Aug &rarr; 1 Sep</div><div>Поездка в Колумбию</div></li>
                            <li><div>25 Aug &rarr; 1 Sep</div><div>Поездка в Колумбию</div></li>
                        </ol>
                    </div>
                </td>
                <td><a>29</a></td>
            </tr>
            <tr>
                <td><a>30</a></td>
                <td><a>31</a></td>
                <td class="off"><a>1</a></td>
                <td class="off"><a>2</a></td>
                <td class="off"><a>3</a></td>
                <td class="off"><a>4</a></td>
                <td class="off"><a>5</a></td>
            </tr>
        </table>
    </div>
</article>
{% endblock mainContent %}
