{% extends "club.twig" %}
{% block pageTitle %}Calendar / Club{% endblock %}
{% block mainContent %}
<article>
    <a id="start" name="start"></a>
    <div class="article-heading-container">
        <h2 class="article-parent">Club</h2>
        <h1 class="article-heading">Calendar</h1>
        <div id="adrenalins-calendar"></div>
    </div>
</article>
{% endblock mainContent %}
