{% extends "club.twig" %}
{% block pageTitle %}Rules / Club{% endblock %}
{% block mainContent %}
<article>
    <a id="start" name="start"></a>
    <div class="article-heading-container">
        <h2 class="article-parent">Club</h2>
        <h1 class="article-heading">Our rules</h1>                
    </div>
</article>
{% endblock mainContent %}
