{% extends "club.twig" %}
{% block pageTitle %}Pilots / Club{% endblock %}
{% block mainContent %}
<article>
    <a id="start" name="start"></a>
    <div class="article-heading-container">
        <h2 class="article-parent">Club</h2>
        <h1 class="article-heading">Our pilots</h1>                
    </div>
    <ul class="pilot-list add20t">
        <li>
            <div class="pilot-data">
                <a class="bigger" id="pilot-1" name="pilot-1">Mihails Vavilovs</a>
                <div class="small lighter uppercase add10b">Instruktors</div>
                <div class="smaller add10b"><span class="lighter">+371</span> 29119899<br /><a href="mailto:mihail@adrenalins.lv">mihail@adrenalins.lv</a></div>
            </div>

            <div class="pilot-picture has-icons">
                <div class="avatar size-140">
                    <img src="img/140x140/1.jpg" />
                    <div class="his-data">
                        <a href="#his-photos" class="hastip" title="Photogalleries | 13"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M13.7 5.738l-1.637-4.509c-.121-.333-.476-.509-.791-.394l-10.878 3.97c-.316.114-.475.478-.354.81l1.726 4.754v-2.548c0-1.15.918-2.084 2.049-2.084h2.874l3.428-2.406 1.984 2.406h1.599zm1.69 1.444h-11.576c-.336 0-.61.287-.61.642v7.537c0 .354.273.642.61.642h11.576c.337 0 .61-.287.61-.642v-7.538c0-.354-.273-.641-.61-.641zm-.883 7.216h-9.596v-1.375l1.476-3.436 2.215 2.75 2.078-2.13 2.671-.964 1.156 2.578v2.578z"/></svg></a>
                        <a href="#his-videos" class="hastip" title="Video | 2"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M15.33 4.501c-2.243-.321-4.723-.501-7.33-.501s-5.087.18-7.331.501c-.43 1.684-.669 3.544-.669 5.499s.239 3.814.669 5.498c2.244.324 4.724.502 7.331.502s5.087-.178 7.33-.502c.431-1.684.67-3.543.67-5.498s-.239-3.815-.67-5.499zm-9.33 8.499v-6l5 3-5 3z"/></svg></a>
                        <a href="#his-news" class="hastip" title="News | 23"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M12 .8h-8c-.88 0-1.6.72-1.6 1.6v11.2c0 .88.72 1.6 1.6 1.6h8c.88 0 1.6-.72 1.6-1.6v-11.2c0-.88-.72-1.6-1.6-1.6zm-7.35 3.335h6.7v1.4h-6.7v-1.4zm6.7 7.681h-6.7v-1.4h6.7v1.4zm.019-3.12h-6.7v-1.44h6.7v1.44z"/></svg></a>
                    </div>
                </div>
            </div>

            <div class="pilot-details">
                <div class="clearfix"><div class="he-says">Превратил хобби в работу&hellip;</div></div>
                <div class="smaller"><span class="smaller lighter">Flying with:</span><br />Advance Omega 8, Axis Polaris</div>
            </div>
        </li>
        <li>
            <div class="pilot-data">
                <a class="bigger" id="pilot-2" name="pilot-2">Krišjānis Sietiņš</a>
                <div class="small lighter uppercase add10b">Instruktors</div>
                <div class="smaller add10b"><span class="lighter">+371</span> 29339713<br /><a href="mailto:krisjanis.sietins@gmail.com">krisjanis.sietins@gmail.com</a></div>
            </div>

            <div class="pilot-picture has-icons">
                <div class="avatar size-140">
                    <img src="img/140x140/2.jpg" />
                    <div class="his-data">
                        <a href="#his-photos" class="hastip" title="Photogalleries | 13"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M13.7 5.738l-1.637-4.509c-.121-.333-.476-.509-.791-.394l-10.878 3.97c-.316.114-.475.478-.354.81l1.726 4.754v-2.548c0-1.15.918-2.084 2.049-2.084h2.874l3.428-2.406 1.984 2.406h1.599zm1.69 1.444h-11.576c-.336 0-.61.287-.61.642v7.537c0 .354.273.642.61.642h11.576c.337 0 .61-.287.61-.642v-7.538c0-.354-.273-.641-.61-.641zm-.883 7.216h-9.596v-1.375l1.476-3.436 2.215 2.75 2.078-2.13 2.671-.964 1.156 2.578v2.578z"/></svg></a>
                        <a href="#his-videos" class="hastip" title="Video | 2"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M15.33 4.501c-2.243-.321-4.723-.501-7.33-.501s-5.087.18-7.331.501c-.43 1.684-.669 3.544-.669 5.499s.239 3.814.669 5.498c2.244.324 4.724.502 7.331.502s5.087-.178 7.33-.502c.431-1.684.67-3.543.67-5.498s-.239-3.815-.67-5.499zm-9.33 8.499v-6l5 3-5 3z"/></svg></a>
                        <a href="#his-news" class="hastip" title="News | 23"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M12 .8h-8c-.88 0-1.6.72-1.6 1.6v11.2c0 .88.72 1.6 1.6 1.6h8c.88 0 1.6-.72 1.6-1.6v-11.2c0-.88-.72-1.6-1.6-1.6zm-7.35 3.335h6.7v1.4h-6.7v-1.4zm6.7 7.681h-6.7v-1.4h6.7v1.4zm.019-3.12h-6.7v-1.44h6.7v1.44z"/></svg></a>
                    </div>
                </div>
            </div>

            <div class="pilot-details">
                <div class="clearfix"><div class="he-says">Palīdzu cilvēkiem būt debesīs</div></div>
                <div class="smaller"><span class="smaller lighter">Flying with:</span><br />Advance Sigma 6, Paramania GT, H&E PARAMOTORES</div>
            </div>
        </li>
        <li>
            <div class="pilot-data">
                <a class="bigger" id="pilot-3" name="pilot-3">Dzintars Reiniks</a>
                <div class="small lighter uppercase add10b">Tandem pilots</div>
                <div class="smaller add10b"><span class="lighter">+371</span> 29345513<br /><a href="mailto:dzintars@adrenalins.lv">dzintars@adrenalins.lv</a></div>
            </div>

            <div class="pilot-picture has-icons">
                <div class="avatar size-140">
                    <img src="img/140x140/3.jpg" />
                    <div class="his-data">
                        <a href="#his-photos" class="hastip" title="Photogalleries | 13"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M13.7 5.738l-1.637-4.509c-.121-.333-.476-.509-.791-.394l-10.878 3.97c-.316.114-.475.478-.354.81l1.726 4.754v-2.548c0-1.15.918-2.084 2.049-2.084h2.874l3.428-2.406 1.984 2.406h1.599zm1.69 1.444h-11.576c-.336 0-.61.287-.61.642v7.537c0 .354.273.642.61.642h11.576c.337 0 .61-.287.61-.642v-7.538c0-.354-.273-.641-.61-.641zm-.883 7.216h-9.596v-1.375l1.476-3.436 2.215 2.75 2.078-2.13 2.671-.964 1.156 2.578v2.578z"/></svg></a>
                        <!-- <a href="#his-videos" class="hastip" title="Video | 2"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M15.33 4.501c-2.243-.321-4.723-.501-7.33-.501s-5.087.18-7.331.501c-.43 1.684-.669 3.544-.669 5.499s.239 3.814.669 5.498c2.244.324 4.724.502 7.331.502s5.087-.178 7.33-.502c.431-1.684.67-3.543.67-5.498s-.239-3.815-.67-5.499zm-9.33 8.499v-6l5 3-5 3z"/></svg></a>-->
                        <a href="#his-news" class="hastip" title="News | 23"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M12 .8h-8c-.88 0-1.6.72-1.6 1.6v11.2c0 .88.72 1.6 1.6 1.6h8c.88 0 1.6-.72 1.6-1.6v-11.2c0-.88-.72-1.6-1.6-1.6zm-7.35 3.335h6.7v1.4h-6.7v-1.4zm6.7 7.681h-6.7v-1.4h6.7v1.4zm.019-3.12h-6.7v-1.44h6.7v1.44z"/></svg></a>
                    </div>
                </div>
            </div>

            <div class="pilot-details">
                <!-- <div class="clearfix"><div class="he-says">Palīdzu cilvēkiem būt debesīs</div></div> -->
                <div class="smaller"><span class="smaller lighter">Flying with:</span><br />U-Turn U2</div>
            </div>
        </li>
        <li>
            <div class="pilot-data">
                <a class="bigger" id="pilot-4" name="pilot-4">Name Surname</a>
                <div class="small lighter uppercase add10b">Pilot</div>
                <div class="smaller add10b"><a href="mailto:only@mail.lv">only@mail.lv</a></div>
            </div>

            <div class="pilot-picture has-icons">
                <div class="avatar size-140">
                    <img src="img/140x140/4.jpg" />
                    <div class="his-data">
                        <!-- <a href="#his-photos" class="hastip" title="Photogalleries | 13"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M13.7 5.738l-1.637-4.509c-.121-.333-.476-.509-.791-.394l-10.878 3.97c-.316.114-.475.478-.354.81l1.726 4.754v-2.548c0-1.15.918-2.084 2.049-2.084h2.874l3.428-2.406 1.984 2.406h1.599zm1.69 1.444h-11.576c-.336 0-.61.287-.61.642v7.537c0 .354.273.642.61.642h11.576c.337 0 .61-.287.61-.642v-7.538c0-.354-.273-.641-.61-.641zm-.883 7.216h-9.596v-1.375l1.476-3.436 2.215 2.75 2.078-2.13 2.671-.964 1.156 2.578v2.578z"/></svg></a>-->
                        <!-- <a href="#his-videos" class="hastip" title="Video | 2"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M15.33 4.501c-2.243-.321-4.723-.501-7.33-.501s-5.087.18-7.331.501c-.43 1.684-.669 3.544-.669 5.499s.239 3.814.669 5.498c2.244.324 4.724.502 7.331.502s5.087-.178 7.33-.502c.431-1.684.67-3.543.67-5.498s-.239-3.815-.67-5.499zm-9.33 8.499v-6l5 3-5 3z"/></svg></a>-->
                        <a href="#his-news" class="hastip" title="News | 23"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M12 .8h-8c-.88 0-1.6.72-1.6 1.6v11.2c0 .88.72 1.6 1.6 1.6h8c.88 0 1.6-.72 1.6-1.6v-11.2c0-.88-.72-1.6-1.6-1.6zm-7.35 3.335h6.7v1.4h-6.7v-1.4zm6.7 7.681h-6.7v-1.4h6.7v1.4zm.019-3.12h-6.7v-1.44h6.7v1.44z"/></svg></a>
                    </div>
                </div>
            </div>

            <div class="pilot-details">
                <!-- <div class="clearfix"><div class="he-says">Palīdzu cilvēkiem būt debesīs</div></div> -->
                <!-- <div class="smaller"><span class="smaller lighter">Flying with:</span><br />U-Turn U2</div> -->
            </div>
        </li>
        <li>
            <div class="pilot-data">
                <a class="bigger" id="pilot-5" name="pilot-5">Name Surname</a>
                <div class="small lighter uppercase add10b">Student</div>
                <!-- <div class="smaller add10b"><span class="lighter"><a href="mailto:only@mail.lv">only@mail.lv</a></div>-->
            </div>

            <div class="pilot-picture">
                <div class="avatar size-140">
                    <img src="img/140x140/4.jpg" />
                    <div class="his-data">
                        <!-- <a href="#his-photos" class="hastip" title="Photogalleries | 13"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M13.7 5.738l-1.637-4.509c-.121-.333-.476-.509-.791-.394l-10.878 3.97c-.316.114-.475.478-.354.81l1.726 4.754v-2.548c0-1.15.918-2.084 2.049-2.084h2.874l3.428-2.406 1.984 2.406h1.599zm1.69 1.444h-11.576c-.336 0-.61.287-.61.642v7.537c0 .354.273.642.61.642h11.576c.337 0 .61-.287.61-.642v-7.538c0-.354-.273-.641-.61-.641zm-.883 7.216h-9.596v-1.375l1.476-3.436 2.215 2.75 2.078-2.13 2.671-.964 1.156 2.578v2.578z"/></svg></a>-->
                        <!-- <a href="#his-videos" class="hastip" title="Video | 2"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M15.33 4.501c-2.243-.321-4.723-.501-7.33-.501s-5.087.18-7.331.501c-.43 1.684-.669 3.544-.669 5.499s.239 3.814.669 5.498c2.244.324 4.724.502 7.331.502s5.087-.178 7.33-.502c.431-1.684.67-3.543.67-5.498s-.239-3.815-.67-5.499zm-9.33 8.499v-6l5 3-5 3z"/></svg></a>-->
                        <!-- <a href="#his-news" class="hastip" title="News | 23"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M12 .8h-8c-.88 0-1.6.72-1.6 1.6v11.2c0 .88.72 1.6 1.6 1.6h8c.88 0 1.6-.72 1.6-1.6v-11.2c0-.88-.72-1.6-1.6-1.6zm-7.35 3.335h6.7v1.4h-6.7v-1.4zm6.7 7.681h-6.7v-1.4h6.7v1.4zm.019-3.12h-6.7v-1.44h6.7v1.44z"/></svg></a> -->
                    </div>
                </div>
            </div>

            <div class="pilot-details">
                <!-- <div class="clearfix"><div class="he-says">Palīdzu cilvēkiem būt debesīs</div></div> -->
                <!-- <div class="smaller"><span class="smaller lighter">Flying with:</span><br />U-Turn U2</div> -->
            </div>
        </li>
        <li>
            <div class="pilot-data">
                <a class="bigger" id="pilot-6" name="pilot-6">Name Surname</a>
                <div class="small lighter uppercase add10b">Student</div>
                <div class="smaller add10b"><span class="lighter">+371</span> 29345513</div>
            </div>

            <div class="pilot-picture">
                <div class="avatar size-140">
                    <img src="img/140x140/4.jpg" />
                    <div class="his-data">
                        <!-- <a href="#his-photos" class="hastip" title="Photogalleries | 13"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M13.7 5.738l-1.637-4.509c-.121-.333-.476-.509-.791-.394l-10.878 3.97c-.316.114-.475.478-.354.81l1.726 4.754v-2.548c0-1.15.918-2.084 2.049-2.084h2.874l3.428-2.406 1.984 2.406h1.599zm1.69 1.444h-11.576c-.336 0-.61.287-.61.642v7.537c0 .354.273.642.61.642h11.576c.337 0 .61-.287.61-.642v-7.538c0-.354-.273-.641-.61-.641zm-.883 7.216h-9.596v-1.375l1.476-3.436 2.215 2.75 2.078-2.13 2.671-.964 1.156 2.578v2.578z"/></svg></a>-->
                        <!-- <a href="#his-videos" class="hastip" title="Video | 2"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M15.33 4.501c-2.243-.321-4.723-.501-7.33-.501s-5.087.18-7.331.501c-.43 1.684-.669 3.544-.669 5.499s.239 3.814.669 5.498c2.244.324 4.724.502 7.331.502s5.087-.178 7.33-.502c.431-1.684.67-3.543.67-5.498s-.239-3.815-.67-5.499zm-9.33 8.499v-6l5 3-5 3z"/></svg></a>-->
                        <!-- <a href="#his-news" class="hastip" title="News | 23"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M12 .8h-8c-.88 0-1.6.72-1.6 1.6v11.2c0 .88.72 1.6 1.6 1.6h8c.88 0 1.6-.72 1.6-1.6v-11.2c0-.88-.72-1.6-1.6-1.6zm-7.35 3.335h6.7v1.4h-6.7v-1.4zm6.7 7.681h-6.7v-1.4h6.7v1.4zm.019-3.12h-6.7v-1.44h6.7v1.44z"/></svg></a> -->
                    </div>
                </div>
            </div>

            <div class="pilot-details">
                <div class="clearfix"><div class="he-says">Give me fuel, give me fire!</div></div>
                <!-- <div class="smaller"><span class="smaller lighter">Flying with:</span><br />U-Turn U2</div> -->
            </div>
        </li>
    </ul>



</article>
{% endblock mainContent %}
