{% extends "club.twig" %}
{% block pageTitle %}About the club / Club{% endblock %}
{% block mainContent %}
<article>
    <a id="start" name="start"></a>
    <div class="article-heading-container">
        <h2 class="article-parent">Club</h2>
        <h1 class="article-heading">О клубе "Adrenalins"</h1>                
    </div>

    <object>
        <figure>
            <iframe width="100%" src="//www.youtube.com/embed/o6HmpOzfIMc?rel=0&modestbranding=1&theme=light&showinfo=0&autohide=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <figcaption><a href="#photogallery">Club related video</a></figcaption>
        </figure>
    </object>

    <h4>Kas tas ir un kā tas notiek?</h4>
    <p><a href="img/tandems/10.jpg" class="imagelightbox">Sample link to photogallery</a>. Pasažiera krēsls un pilota iekares sistēma ir savienoti vienā veselā. Tandēma paraplāna laukums ir pietiekami liels, lai paceltu gaisā pilotu ar pasažieri, kura svars ir līdz 130kg. Startējot, paraplāns guļ izklāts aizmugurē uz zemes. Pilotu un pasažieri piekabina pie vinčas auklas un ar mašīnas, kas ekipēta ar speciālu vinču, palīdzību ievelk tandēmu līdz 450m augstumam. Pasažierim startā vajag paskriet 10m. Gaisā, kad sasniegts pietiekams augstums, pilots atvieno trosi un jūs kopā planējat brīvajā lidojumā augstu virs zemes. Lidojuma ilgst apmēram 6-15 minūtes (atkarībā no laika apstākļiem).</p>

    <h6 class="center">Inventāra noma par vienu lidojumu</h6>
    <table border="0">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Kluba pilotiem</th>
                <th>Pilotiem</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Rācija</td>
                <td>0,5 &euro;</td>
                <td>1 &euro;</td>
            </tr>
            <tr>

                <td>Ķivere</td>
                <td>0,5 &euro;</td>
                <td>1 &euro;</td>
            </tr>

            <tr>
                <td>Atkabe</td>
                <td>0,5 &euro;</td>
                <td>1 &euro;</td>
            </tr>
            <tr>
                <td>Iekare</td>
                <td>3 &euro;</td>
                <td>4 &euro;</td>
            </tr>
            <tr>
                <td>Spārns</td>
                <td>5 &euro;</td>
                <td>7 &euro;</td>
            </tr>
            <tr>
                <td>Pilns komplekts</td>
                <td>8 &euro;</td>
                <td>10 &euro;</td>
            </tr>
        </tbody>
    </table>

    <h6 class="center">Inventāra noma par vienu dienu</h6>
    <table border="0">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Kluba pilotiem</th>
                <th>Pilotiem</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Rācija</td>
                <td>0,5 &euro;</td>
                <td>1 &euro;</td>
            </tr>
            <tr>

                <td>Ķivere</td>
                <td>0,5 &euro;</td>
                <td>1 &euro;</td>
            </tr>

            <tr>
                <td>Atkabe</td>
                <td>0,5 &euro;</td>
                <td>1 &euro;</td>
            </tr>
            <tr>
                <td>Iekare</td>
                <td>3 &euro;</td>
                <td>4 &euro;</td>
            </tr>
            <tr>
                <td>Spārns</td>
                <td>5 &euro;</td>
                <td>7 &euro;</td>
            </tr>
            <tr>
                <td>Pilns komplekts</td>
                <td>8 &euro;</td>
                <td>10 &euro;</td>
            </tr>
        </tbody>
    </table>


    <h4>Kur un kad tas notiek?</h4>
    <p><a href="#">Rumbulas lidlauks</a>: darba dienu vakaros un brīvdienās no aprīļa līdz septembrim. Brīvdienās no oktobra līdz martam.</p>
    <p><a href="#">Krustpils lidlauks</a>: sestdienās un svētdienās, kad klubs dodas izbraukumā uz Krustpili. Ja ir termālie apstākļi, tad lidojums var ilgt pat vairākas stundas.</p>
    <p><a href="#">Jūrkalnes stāvkrasts</a>: tur notiek lidojums dibamiskajās plūsmās virs stāvkrasta 10-40m augstumā gar jūras krastu. Lidot var stundām ilgi, kamēr ir pareizais vējš.</p>
    <p>Kartes īpašniekam, pirms viņš vēlas lidot, ir jāsazvana mūs 1 dienu iepriekš pa telefonu 29119899 vai jāievada sava e-pasta adrese www.adrenalins.lv sadaļā "Lidojumi Tandēmā". Uz e-pastu nāks informācija kur un kad var izlidot ar instruktoru. Labākais laiks, kad lidot, ir pavasarī, vasarā un rudenī. Lidojumi notiek arī ziemā, bet retāk.</p>

    <h4>Cik maksā?</h4>
    <blockquote><p>Viens lidojums maksā 40 Eur. Dāvanu karte lidojumam ar instruktoru maksā 40 Eur. Tā ir derīga uz gadu un tur var izvēlēties, lidot mierīgi vai ar galvu reibinošiem trikiem.</p></blockquote>

    <h4>Kā ģērbties?</h4>
    <p>Vienīgais nosacījums ir tas, ka apģērbam jābūt brīvam un ar garām piedurknēm. Apaviem jābūt bez augstā papēža, un tiem stingri jāturas kājās!</p>                                        
</article>
{% endblock mainContent %}
