{% extends "paramotors.twig" %}
{% block pageTitle %}FAQ / Paramotors{% endblock %}
{% block mainContent %}
<article>
    <div class="article-heading-container">
        <h2 class="article-parent">Paramotors</h2>
        <h1 class="article-heading">Questions and answers</h1>                
    </div>
    {% include 'include/faq-container.twig' %}
</article>
{% endblock mainContent %}