{% extends "paramotors.twig" %}
{% block pageTitle %}Programm / Paramotors{% endblock %}
{% block mainContent %}
<article>
    <div class="article-heading-container">
        <h2 class="article-parent">Paramotors</h2>
        <h1 class="article-heading">Scholl programm</h1>                
    </div>
</article>
{% endblock mainContent %}