{% extends "paramotors.twig" %}
{% block pageTitle %}Media / Paramotors{% endblock %}
{% block mainContent %}
<article>
    <div class="article-heading-container">
        <h2 class="article-parent">Paramotors</h2>
        <h1 class="article-heading">Media Gallery</h1>                
    </div>
    {% include 'include/photogalleries.twig' %}
</article>
{% endblock mainContent %}