{% extends "school.twig" %}
{% block pageTitle %}About / School{% endblock %}
{% block mainContent %}
<article>
    <a id="start" name="start"></a>
    <div class="article-heading-container">
        <h2 class="article-parent">School</h2>
        <h1 class="article-heading">About the school</h1>        
    </div>
    <p class="intro"><a href="#">Skolas "Adrenalīns" dibinātāji</a> &ndash; vieni no labākajiem paraplānu pilotiem Latvijā &ndash; ar paraplāniem lido kopš 1996.gada un pamazām pašmācību ceļā ir apguvuši nepieciešamo pieredzi: lidojumi no kalniem un pauguriem, lidošanas tehnikas īpašības, pilnveidojuši savas lidošanas iemaņas dažādos lidošanas režīmos. Šo laiku var raksturot kā grūto paraplanierisma pirmsākumu periodu Latvijā.</p>
    <object>
        <figure>
            <a href="#photogallery"><img src="img/210x140/1.jpg" alt="The Pulpit Rock" width="210" height="140"></a>
            <figcaption><a href="#photogallery">Link to a photogallery looks cool.</a></figcaption>
        </figure>
    </object>
    <p>Laiks ritēja, un arī mēs nestāvējām uz vietas &ndash; dzima doma par standartizēta apmācības procesa lidošanai ar paraplānu organizēšanu: iegādājāmies labu iekipējumu, iemācījāmies uzvilkt skolniekus (interesentus lidošanai ar paraplānu bez pieredzes) gaisā ar vinčas palīdzību, izstrādājām apmācības programmu, kuru apstiprināja Civilās aviācijas administrācija.</p>
    <p>2002.gadā skola "Adrenalīns" ieguva licenci apmācību organizēšanai lidošanai ar paraplānu. Pirmajos mūsu darbības gados skolniekus varēja saskaitīt uz roku pirkstiem, bet tagad sezonas laikā skola sagatavo vairākus desmitus pilotu. Vairāki mūsu skolnieki piedalās arī starptautiskajās sacensībās dažādās disciplīnās.</p>
    <p>Skola rīko arī kvalifikācijas paaugstināšanas kursus virs ūdens un termālo lidojumu kursus kalnos.</p>
    <blockquote><p>Šobrīd skolai ir pilns, kvalitatīvs ekipējuma komplekts apmācības veikšanai: vinčas, paraplāni, iekares, rācijas, rezerves izpletņi utt. Apmācība sastāv no teorijas (10% laika) un prakses (90% laika). Skolā strādā instruktori un tehniskais personāls. Izgājis apmācības kursu, skolnieks, lai iegūtu pilota licenci, kārto eksāmenu Latvijas paraplanierisma federācijas (LPF) pārstāvja klātbūtnē. Eksāmenā ir iekļauta gan teorija, gan prakse.</p></blockquote>
    <p>Skola strādā Rumbulas lidlaukā, darba dienu vakaros, kad nelīst un nepūš stiprs vējš.</p>
    <object>
        <figure>
            <a href="#places"><img src="img/210x140/map.jpg" alt="View places" width="210" height="140"></a>
            <figcaption><a href="#places">Link to a Places section.</a></figcaption>
        </figure>
    </object>
    <p>Pēc pilota licences iegūšanas, pilots var iestāties mūsu klubā. Brīvdienās klubs organizē lidojumus ārpus Rīgas un 4-5 reizes gadā arī braucienus uz ārzemēm. Šādu braucienu ģeogrāfija ir visai plaša: mēs esam bijuši gandrīz visās Eiropas valstīs, Āfrikā (<a href="#">Marokā</a>), Āzijā (<a href="#">Nepālā</a>, <a href="#">Tadžikistānā</a>, <a href="#">Indijā</a>). Klubam ir arī citas tradīcijas, par ko vairāk var <a href="#">lasīt sadaļā Klubs</a>.</p>
    <p>Ja neesi pārliecināts, ka <a href="#">paraplanierisms</a> ir tieši Tavs sporta veids, pamēģini <a href="#">lidojumu tandēmā ar instruktoru</a>, kas ļauj izbaudīt brīvo planēšanu un ieraudzīt apkārtni no putna lidojuma augstuma &ndash; baudīt paraplanierisma burvību. Šis piedāvājums ir kļuvis populārs ne tikai atsevišķu cilvēku vidū, bet arī to uzņēmumu vidū, kuri grib iepriecināt savus darbiniekus neierastā veidā. Tāpēc ir izveidots speciāls pakalpojums <a href="#">"Korporatīvie tandēmlidojumi"</a></p>
    <p><a href="#">Nokļūšana Rumbulas lidlauka startos</a>.</p>
</article>
{% endblock mainContent %}