{% extends "user.twig" %}
{% block pageTitle %}Add photogallery / Alexander Kalichava / Paragliding club and school{% endblock %}
{% block mainContent %}
<div class="main-content">
    <a id="start" name="start"></a>
    <div class="article-heading-container">
        <h2 class="article-parent">Alexander Kalichava</h2>
        <h1 class="article-heading">Add photogallery</h1>
    </div>
    <div class="user-form">
        <form action="#">
            <fieldset>
                <legend>Выберите фотографии</legend>
                <div class="row clearfix">


                    <pre>
жду предложений по движку для аплоуда галерей
добавление, удаление, редактирование (менять местами файлы, добавлять картинки, удалять)
У каждой галереи может быть:
автор*
дата добавления*
дата редактирования*
количество фоток*
главная фотка (по умолчанию первая)*
привязанная новость
привязанная новость на минифоруме
привязанное место
привязанное событие
                    </pre>

                </div>
                <div class="button inverse at-center add20b"><a href="#">Добавить галерею</a></div>
            </fieldset>
        </form>
    </div>
    <div class="user-form add30t">
        <legend>Мои фотогалереи</legend>
        <table class="added-videos add0t">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>новость</th>
                    <th>минифорум</th>
                    <th>событие</th>
                    <th>место</th>
                    <th width="0">&nbsp;</th>
                </tr>
            </thead>
            <tbody>                    
                <tr>
                    <td>
                        <a href="#">1st September</a><!-- просмотр фото альбома -->
                    </td>
                    <td>
                        <div class="smaller add10b">Название новости<a href="#delete" class="lighter" title="Убрать">&nbsp;&times;</a></div>
                        <div class="smaller add10b">Название другой новости<a href="#delete" class="lighter" title="Убрать">&nbsp;&times;</a></div>
                        <div><a href="#" title="Attach news"><svg class="svg-icon animate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M3.969 16c-1.069 0-2.07-.453-2.793-1.177-1.4-1.4-1.791-3.845.172-5.808 1.151-1.15 5.759-5.758 8.059-8.058.817-.817 1.855-1.132 2.85-.865.977.261 1.778 1.062 2.04 2.039.266.995-.05 2.034-.866 2.85l-7.706 7.706c-.44.44-.937.701-1.437.753-.494.052-.966-.107-1.298-.438-.6-.599-.685-1.727.312-2.723l5.412-5.414c.222-.222.583-.222.806 0 .222.222.222.583 0 .806l-5.413 5.413c-.468.468-.511.915-.312 1.114.087.086.22.126.373.11.234-.025.502-.177.751-.426l7.706-7.706c.529-.529.731-1.15.57-1.751-.158-.591-.643-1.076-1.234-1.234-.601-.161-1.222.042-1.751.57-2.299 2.3-6.907 6.908-8.058 8.058-1.501 1.501-1.142 3.228-.173 4.198.97.969 2.697 1.329 4.198-.173l8.058-8.058c.222-.222.583-.222.805 0 .222.222.222.583 0 .805l-8.058 8.058c-.95.95-2.012 1.349-3.015 1.349z"/></svg></div>
                    </td>
                    <td>
                        <div class="smaller add10b">Название минифорума<a href="#delete" class="lighter" title="Убрать">&nbsp;&times;</a></div>
                        <div><a href="#" title="Attach miniforum"><svg class="svg-icon animate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M3.969 16c-1.069 0-2.07-.453-2.793-1.177-1.4-1.4-1.791-3.845.172-5.808 1.151-1.15 5.759-5.758 8.059-8.058.817-.817 1.855-1.132 2.85-.865.977.261 1.778 1.062 2.04 2.039.266.995-.05 2.034-.866 2.85l-7.706 7.706c-.44.44-.937.701-1.437.753-.494.052-.966-.107-1.298-.438-.6-.599-.685-1.727.312-2.723l5.412-5.414c.222-.222.583-.222.806 0 .222.222.222.583 0 .806l-5.413 5.413c-.468.468-.511.915-.312 1.114.087.086.22.126.373.11.234-.025.502-.177.751-.426l7.706-7.706c.529-.529.731-1.15.57-1.751-.158-.591-.643-1.076-1.234-1.234-.601-.161-1.222.042-1.751.57-2.299 2.3-6.907 6.908-8.058 8.058-1.501 1.501-1.142 3.228-.173 4.198.97.969 2.697 1.329 4.198-.173l8.058-8.058c.222-.222.583-.222.805 0 .222.222.222.583 0 .805l-8.058 8.058c-.95.95-2.012 1.349-3.015 1.349z"/></svg></a></div>                                
                    </td>
                    <td>
                        <div class="smaller add10b">Название события<a href="#delete" class="lighter" title="Убрать">&nbsp;&times;</a></div>
                        <div><a href="#" title="Attach event"><svg class="svg-icon animate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M3.969 16c-1.069 0-2.07-.453-2.793-1.177-1.4-1.4-1.791-3.845.172-5.808 1.151-1.15 5.759-5.758 8.059-8.058.817-.817 1.855-1.132 2.85-.865.977.261 1.778 1.062 2.04 2.039.266.995-.05 2.034-.866 2.85l-7.706 7.706c-.44.44-.937.701-1.437.753-.494.052-.966-.107-1.298-.438-.6-.599-.685-1.727.312-2.723l5.412-5.414c.222-.222.583-.222.806 0 .222.222.222.583 0 .806l-5.413 5.413c-.468.468-.511.915-.312 1.114.087.086.22.126.373.11.234-.025.502-.177.751-.426l7.706-7.706c.529-.529.731-1.15.57-1.751-.158-.591-.643-1.076-1.234-1.234-.601-.161-1.222.042-1.751.57-2.299 2.3-6.907 6.908-8.058 8.058-1.501 1.501-1.142 3.228-.173 4.198.97.969 2.697 1.329 4.198-.173l8.058-8.058c.222-.222.583-.222.805 0 .222.222.222.583 0 .805l-8.058 8.058c-.95.95-2.012 1.349-3.015 1.349z"/></svg></div>
                    </td>
                    <td>
                        <div class="smaller add10b">Название места<a href="#delete" class="lighter" title="Убрать">&nbsp;&times;</a></div>
                        <div><a href="#" title="Attach place"><svg class="svg-icon animate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M3.969 16c-1.069 0-2.07-.453-2.793-1.177-1.4-1.4-1.791-3.845.172-5.808 1.151-1.15 5.759-5.758 8.059-8.058.817-.817 1.855-1.132 2.85-.865.977.261 1.778 1.062 2.04 2.039.266.995-.05 2.034-.866 2.85l-7.706 7.706c-.44.44-.937.701-1.437.753-.494.052-.966-.107-1.298-.438-.6-.599-.685-1.727.312-2.723l5.412-5.414c.222-.222.583-.222.806 0 .222.222.222.583 0 .806l-5.413 5.413c-.468.468-.511.915-.312 1.114.087.086.22.126.373.11.234-.025.502-.177.751-.426l7.706-7.706c.529-.529.731-1.15.57-1.751-.158-.591-.643-1.076-1.234-1.234-.601-.161-1.222.042-1.751.57-2.299 2.3-6.907 6.908-8.058 8.058-1.501 1.501-1.142 3.228-.173 4.198.97.969 2.697 1.329 4.198-.173l8.058-8.058c.222-.222.583-.222.805 0 .222.222.222.583 0 .805l-8.058 8.058c-.95.95-2.012 1.349-3.015 1.349z"/></svg></div>                            
                    </td>
                    <td>
                        <a href="#" title="Edit"><svg class="svg-icon animate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M13.428 8c0-.838.516-1.5 1.292-1.954-.141-.467-.325-.916-.553-1.338-.872.228-1.577-.114-2.169-.706-.594-.593-.775-1.298-.547-2.169-.422-.228-.869-.414-1.338-.554-.454.777-1.276 1.293-2.114 1.293-.838 0-1.658-.516-2.114-1.293-.469.139-.916.326-1.338.553.227.871.046 1.577-.546 2.17-.593.592-1.298.934-2.169.706-.228.421-.414.87-.554 1.337.777.454 1.293 1.116 1.293 1.954 0 .838-.516 1.659-1.293 2.114.14.468.326.916.554 1.338.871-.228 1.576-.046 2.169.546.593.593.774 1.298.546 2.169.422.228.87.414 1.338.554.455-.778 1.276-1.293 2.114-1.293.838 0 1.66.516 2.114 1.293.469-.14.916-.326 1.338-.554-.228-.871-.047-1.576.547-2.169.592-.592 1.297-.934 2.169-.706.228-.422.413-.87.553-1.338-.777-.455-1.293-1.117-1.293-1.954zm-5.428 2.922c-1.614 0-2.922-1.309-2.922-2.922s1.308-2.922 2.922-2.922 2.922 1.309 2.922 2.922-1.308 2.922-2.922 2.922z"/></svg></a>
                        <a href="#" title="Delete"><svg class="svg-icon animate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M12.8 1.6h-9.6c-.88 0-1.6.72-1.6 1.6v9.6c0 .88.72 1.6 1.6 1.6h9.6c.88 0 1.6-.72 1.6-1.6v-9.6c0-.88-.72-1.6-1.6-1.6zm-2.351 10.231l-2.449-2.448-2.449 2.449-1.382-1.383 2.448-2.449-2.448-2.448 1.382-1.383 2.449 2.448 2.448-2.448 1.383 1.382-2.448 2.449 2.449 2.449-1.383 1.382z"/></svg></a>
                        <!-- Are you sure to delete the "1st September" gallery? -->
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Viena Diena</a><!-- просмотр фото альбома -->
                    </td>
                    <td>
                        <div><a href="#" title="Attach news"><svg class="svg-icon animate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M3.969 16c-1.069 0-2.07-.453-2.793-1.177-1.4-1.4-1.791-3.845.172-5.808 1.151-1.15 5.759-5.758 8.059-8.058.817-.817 1.855-1.132 2.85-.865.977.261 1.778 1.062 2.04 2.039.266.995-.05 2.034-.866 2.85l-7.706 7.706c-.44.44-.937.701-1.437.753-.494.052-.966-.107-1.298-.438-.6-.599-.685-1.727.312-2.723l5.412-5.414c.222-.222.583-.222.806 0 .222.222.222.583 0 .806l-5.413 5.413c-.468.468-.511.915-.312 1.114.087.086.22.126.373.11.234-.025.502-.177.751-.426l7.706-7.706c.529-.529.731-1.15.57-1.751-.158-.591-.643-1.076-1.234-1.234-.601-.161-1.222.042-1.751.57-2.299 2.3-6.907 6.908-8.058 8.058-1.501 1.501-1.142 3.228-.173 4.198.97.969 2.697 1.329 4.198-.173l8.058-8.058c.222-.222.583-.222.805 0 .222.222.222.583 0 .805l-8.058 8.058c-.95.95-2.012 1.349-3.015 1.349z"/></svg></div>
                    </td>
                    <td>
                        <div><a href="#" title="Attach miniforum"><svg class="svg-icon animate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M3.969 16c-1.069 0-2.07-.453-2.793-1.177-1.4-1.4-1.791-3.845.172-5.808 1.151-1.15 5.759-5.758 8.059-8.058.817-.817 1.855-1.132 2.85-.865.977.261 1.778 1.062 2.04 2.039.266.995-.05 2.034-.866 2.85l-7.706 7.706c-.44.44-.937.701-1.437.753-.494.052-.966-.107-1.298-.438-.6-.599-.685-1.727.312-2.723l5.412-5.414c.222-.222.583-.222.806 0 .222.222.222.583 0 .806l-5.413 5.413c-.468.468-.511.915-.312 1.114.087.086.22.126.373.11.234-.025.502-.177.751-.426l7.706-7.706c.529-.529.731-1.15.57-1.751-.158-.591-.643-1.076-1.234-1.234-.601-.161-1.222.042-1.751.57-2.299 2.3-6.907 6.908-8.058 8.058-1.501 1.501-1.142 3.228-.173 4.198.97.969 2.697 1.329 4.198-.173l8.058-8.058c.222-.222.583-.222.805 0 .222.222.222.583 0 .805l-8.058 8.058c-.95.95-2.012 1.349-3.015 1.349z"/></svg></a></div>                                
                    </td>
                    <td>
                        <div><a href="#" title="Attach event"><svg class="svg-icon animate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M3.969 16c-1.069 0-2.07-.453-2.793-1.177-1.4-1.4-1.791-3.845.172-5.808 1.151-1.15 5.759-5.758 8.059-8.058.817-.817 1.855-1.132 2.85-.865.977.261 1.778 1.062 2.04 2.039.266.995-.05 2.034-.866 2.85l-7.706 7.706c-.44.44-.937.701-1.437.753-.494.052-.966-.107-1.298-.438-.6-.599-.685-1.727.312-2.723l5.412-5.414c.222-.222.583-.222.806 0 .222.222.222.583 0 .806l-5.413 5.413c-.468.468-.511.915-.312 1.114.087.086.22.126.373.11.234-.025.502-.177.751-.426l7.706-7.706c.529-.529.731-1.15.57-1.751-.158-.591-.643-1.076-1.234-1.234-.601-.161-1.222.042-1.751.57-2.299 2.3-6.907 6.908-8.058 8.058-1.501 1.501-1.142 3.228-.173 4.198.97.969 2.697 1.329 4.198-.173l8.058-8.058c.222-.222.583-.222.805 0 .222.222.222.583 0 .805l-8.058 8.058c-.95.95-2.012 1.349-3.015 1.349z"/></svg></div>
                    </td>
                    <td>
                        <div><a href="#" title="Attach place"><svg class="svg-icon animate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M3.969 16c-1.069 0-2.07-.453-2.793-1.177-1.4-1.4-1.791-3.845.172-5.808 1.151-1.15 5.759-5.758 8.059-8.058.817-.817 1.855-1.132 2.85-.865.977.261 1.778 1.062 2.04 2.039.266.995-.05 2.034-.866 2.85l-7.706 7.706c-.44.44-.937.701-1.437.753-.494.052-.966-.107-1.298-.438-.6-.599-.685-1.727.312-2.723l5.412-5.414c.222-.222.583-.222.806 0 .222.222.222.583 0 .806l-5.413 5.413c-.468.468-.511.915-.312 1.114.087.086.22.126.373.11.234-.025.502-.177.751-.426l7.706-7.706c.529-.529.731-1.15.57-1.751-.158-.591-.643-1.076-1.234-1.234-.601-.161-1.222.042-1.751.57-2.299 2.3-6.907 6.908-8.058 8.058-1.501 1.501-1.142 3.228-.173 4.198.97.969 2.697 1.329 4.198-.173l8.058-8.058c.222-.222.583-.222.805 0 .222.222.222.583 0 .805l-8.058 8.058c-.95.95-2.012 1.349-3.015 1.349z"/></svg></div>                            
                    </td>
                    <td>
                        <a href="#" title="Edit"><svg class="svg-icon animate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M13.428 8c0-.838.516-1.5 1.292-1.954-.141-.467-.325-.916-.553-1.338-.872.228-1.577-.114-2.169-.706-.594-.593-.775-1.298-.547-2.169-.422-.228-.869-.414-1.338-.554-.454.777-1.276 1.293-2.114 1.293-.838 0-1.658-.516-2.114-1.293-.469.139-.916.326-1.338.553.227.871.046 1.577-.546 2.17-.593.592-1.298.934-2.169.706-.228.421-.414.87-.554 1.337.777.454 1.293 1.116 1.293 1.954 0 .838-.516 1.659-1.293 2.114.14.468.326.916.554 1.338.871-.228 1.576-.046 2.169.546.593.593.774 1.298.546 2.169.422.228.87.414 1.338.554.455-.778 1.276-1.293 2.114-1.293.838 0 1.66.516 2.114 1.293.469-.14.916-.326 1.338-.554-.228-.871-.047-1.576.547-2.169.592-.592 1.297-.934 2.169-.706.228-.422.413-.87.553-1.338-.777-.455-1.293-1.117-1.293-1.954zm-5.428 2.922c-1.614 0-2.922-1.309-2.922-2.922s1.308-2.922 2.922-2.922 2.922 1.309 2.922 2.922-1.308 2.922-2.922 2.922z"/></svg></a>
                        <a href="#" title="Delete"><svg class="svg-icon animate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M12.8 1.6h-9.6c-.88 0-1.6.72-1.6 1.6v9.6c0 .88.72 1.6 1.6 1.6h9.6c.88 0 1.6-.72 1.6-1.6v-9.6c0-.88-.72-1.6-1.6-1.6zm-2.351 10.231l-2.449-2.448-2.449 2.449-1.382-1.383 2.448-2.449-2.448-2.448 1.382-1.383 2.449 2.448 2.448-2.448 1.383 1.382-2.448 2.449 2.449 2.449-1.383 1.382z"/></svg></a>
                        <!-- Are you sure to delete the "Viena Diena" gallery? -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
{% endblock mainContent %}

{% block fileUploadCss %}
{% endblock fileUploadCss %}

{% block fileUploadScripts %}
{% endblock fileUploadScripts %}

