{% extends "user.twig" %}
{% block pageTitle %}Edit my profile / Alexander Kalichava / Paragliding club and school{% endblock %}
{% block mainContent %}
<article>
    <a id="start" name="start"></a>
    <div class="article-heading-container">
        <h2 class="article-parent">Alexander Kalichava</h2>
        <h1 class="article-heading">Add event</h1>                
    </div>

{% endblock mainContent %}
