{% extends "user.twig" %}
{% block pageTitle %}Add video / Alexander Kalichava / Paragliding club and school{% endblock %}
{% block mainContent %}
<div class="main-content">
    <a id="start" name="start"></a>
    <div class="article-heading-container">
        <h2 class="article-parent">Alexander Kalichava</h2>
        <h1 class="article-heading">Add video</h1>
    </div>
    <div class="user-form">
        <form action="#">
            <fieldset>
                <legend>Укажите ссылку на видео файл</legend>
                <div class="row clearfix">
                    <label for="video-link">Линк на видео  youtube или vimeo</label>
                    <input type="text" name="video-link" id="video-link" maxlength="100" placeholder="http://" />
                    <div class="small lighter">Напр.: https://www.youtube.com/watch?v=XFiEPWmEOew или https://vimeo.com/41206514</div>
                    <div class="button inverse at-center add20t"><a href="#">Поместить видео на сайте</a></div>
                </div>
            </fieldset>
        </form>
    </div>
            <div class="user-form add30t">
            <legend>Добавленные мной видео</legend>
            <div class="row clearfix">
                <table class="added-videos add0t">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>новость</th>
                            <th>минифорум</th>
                            <th>событие</th>
                            <th>место</th>
                            <th width="0">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>                    
                        <tr>
                            <td>
                                <a href="https://www.youtube.com/watch?v=DCf4E0lo5bk" title="Watch on youtube"><svg class="svg-icon animate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M15.33 4.501c-2.243-.321-4.723-.501-7.33-.501s-5.087.18-7.331.501c-.43 1.684-.669 3.544-.669 5.499s.239 3.814.669 5.498c2.244.324 4.724.502 7.331.502s5.087-.178 7.33-.502c.431-1.684.67-3.543.67-5.498s-.239-3.815-.67-5.499zm-9.33 8.499v-6l5 3-5 3z"></path></svg></a>
                                <a href="#">1st September (2:04)</a><!-- открыть попап для порсмотра видео -->
                            </td>
                            <td>
                                <div class="smaller add10b">Название новости<a href="#delete" class="lighter" title="Убрать">&nbsp;&times;</a></div>
                                <div class="smaller add10b">Название другой новости<a href="#delete" class="lighter" title="Убрать">&nbsp;&times;</a></div>
                                <div><a href="#" title="Attach news"><svg class="svg-icon animate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M3.969 16c-1.069 0-2.07-.453-2.793-1.177-1.4-1.4-1.791-3.845.172-5.808 1.151-1.15 5.759-5.758 8.059-8.058.817-.817 1.855-1.132 2.85-.865.977.261 1.778 1.062 2.04 2.039.266.995-.05 2.034-.866 2.85l-7.706 7.706c-.44.44-.937.701-1.437.753-.494.052-.966-.107-1.298-.438-.6-.599-.685-1.727.312-2.723l5.412-5.414c.222-.222.583-.222.806 0 .222.222.222.583 0 .806l-5.413 5.413c-.468.468-.511.915-.312 1.114.087.086.22.126.373.11.234-.025.502-.177.751-.426l7.706-7.706c.529-.529.731-1.15.57-1.751-.158-.591-.643-1.076-1.234-1.234-.601-.161-1.222.042-1.751.57-2.299 2.3-6.907 6.908-8.058 8.058-1.501 1.501-1.142 3.228-.173 4.198.97.969 2.697 1.329 4.198-.173l8.058-8.058c.222-.222.583-.222.805 0 .222.222.222.583 0 .805l-8.058 8.058c-.95.95-2.012 1.349-3.015 1.349z"/></svg></div>
                            </td>
                            <td>
                                <div class="smaller add10b">Название минифорума<a href="#delete" class="lighter" title="Убрать">&nbsp;&times;</a></div>
                                <div><a href="#" title="Attach miniforum"><svg class="svg-icon animate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M3.969 16c-1.069 0-2.07-.453-2.793-1.177-1.4-1.4-1.791-3.845.172-5.808 1.151-1.15 5.759-5.758 8.059-8.058.817-.817 1.855-1.132 2.85-.865.977.261 1.778 1.062 2.04 2.039.266.995-.05 2.034-.866 2.85l-7.706 7.706c-.44.44-.937.701-1.437.753-.494.052-.966-.107-1.298-.438-.6-.599-.685-1.727.312-2.723l5.412-5.414c.222-.222.583-.222.806 0 .222.222.222.583 0 .806l-5.413 5.413c-.468.468-.511.915-.312 1.114.087.086.22.126.373.11.234-.025.502-.177.751-.426l7.706-7.706c.529-.529.731-1.15.57-1.751-.158-.591-.643-1.076-1.234-1.234-.601-.161-1.222.042-1.751.57-2.299 2.3-6.907 6.908-8.058 8.058-1.501 1.501-1.142 3.228-.173 4.198.97.969 2.697 1.329 4.198-.173l8.058-8.058c.222-.222.583-.222.805 0 .222.222.222.583 0 .805l-8.058 8.058c-.95.95-2.012 1.349-3.015 1.349z"/></svg></a></div>                                
                            </td>
                            <td>
                                <div class="smaller add10b">Название события<a href="#delete" class="lighter" title="Убрать">&nbsp;&times;</a></div>
                                <div><a href="#" title="Attach event"><svg class="svg-icon animate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M3.969 16c-1.069 0-2.07-.453-2.793-1.177-1.4-1.4-1.791-3.845.172-5.808 1.151-1.15 5.759-5.758 8.059-8.058.817-.817 1.855-1.132 2.85-.865.977.261 1.778 1.062 2.04 2.039.266.995-.05 2.034-.866 2.85l-7.706 7.706c-.44.44-.937.701-1.437.753-.494.052-.966-.107-1.298-.438-.6-.599-.685-1.727.312-2.723l5.412-5.414c.222-.222.583-.222.806 0 .222.222.222.583 0 .806l-5.413 5.413c-.468.468-.511.915-.312 1.114.087.086.22.126.373.11.234-.025.502-.177.751-.426l7.706-7.706c.529-.529.731-1.15.57-1.751-.158-.591-.643-1.076-1.234-1.234-.601-.161-1.222.042-1.751.57-2.299 2.3-6.907 6.908-8.058 8.058-1.501 1.501-1.142 3.228-.173 4.198.97.969 2.697 1.329 4.198-.173l8.058-8.058c.222-.222.583-.222.805 0 .222.222.222.583 0 .805l-8.058 8.058c-.95.95-2.012 1.349-3.015 1.349z"/></svg></div>
                            </td>
                            <td>
                                <div class="smaller add10b">Название места<a href="#delete" class="lighter" title="Убрать">&nbsp;&times;</a></div>
                                <div><a href="#" title="Attach place"><svg class="svg-icon animate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M3.969 16c-1.069 0-2.07-.453-2.793-1.177-1.4-1.4-1.791-3.845.172-5.808 1.151-1.15 5.759-5.758 8.059-8.058.817-.817 1.855-1.132 2.85-.865.977.261 1.778 1.062 2.04 2.039.266.995-.05 2.034-.866 2.85l-7.706 7.706c-.44.44-.937.701-1.437.753-.494.052-.966-.107-1.298-.438-.6-.599-.685-1.727.312-2.723l5.412-5.414c.222-.222.583-.222.806 0 .222.222.222.583 0 .806l-5.413 5.413c-.468.468-.511.915-.312 1.114.087.086.22.126.373.11.234-.025.502-.177.751-.426l7.706-7.706c.529-.529.731-1.15.57-1.751-.158-.591-.643-1.076-1.234-1.234-.601-.161-1.222.042-1.751.57-2.299 2.3-6.907 6.908-8.058 8.058-1.501 1.501-1.142 3.228-.173 4.198.97.969 2.697 1.329 4.198-.173l8.058-8.058c.222-.222.583-.222.805 0 .222.222.222.583 0 .805l-8.058 8.058c-.95.95-2.012 1.349-3.015 1.349z"/></svg></div>                            
                            </td>
                            <td>
                                <a href="#" title="Edit"><svg class="svg-icon animate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M13.428 8c0-.838.516-1.5 1.292-1.954-.141-.467-.325-.916-.553-1.338-.872.228-1.577-.114-2.169-.706-.594-.593-.775-1.298-.547-2.169-.422-.228-.869-.414-1.338-.554-.454.777-1.276 1.293-2.114 1.293-.838 0-1.658-.516-2.114-1.293-.469.139-.916.326-1.338.553.227.871.046 1.577-.546 2.17-.593.592-1.298.934-2.169.706-.228.421-.414.87-.554 1.337.777.454 1.293 1.116 1.293 1.954 0 .838-.516 1.659-1.293 2.114.14.468.326.916.554 1.338.871-.228 1.576-.046 2.169.546.593.593.774 1.298.546 2.169.422.228.87.414 1.338.554.455-.778 1.276-1.293 2.114-1.293.838 0 1.66.516 2.114 1.293.469-.14.916-.326 1.338-.554-.228-.871-.047-1.576.547-2.169.592-.592 1.297-.934 2.169-.706.228-.422.413-.87.553-1.338-.777-.455-1.293-1.117-1.293-1.954zm-5.428 2.922c-1.614 0-2.922-1.309-2.922-2.922s1.308-2.922 2.922-2.922 2.922 1.309 2.922 2.922-1.308 2.922-2.922 2.922z"/></svg></a>
                                <a href="#" title="Delete"><svg class="svg-icon animate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M12.8 1.6h-9.6c-.88 0-1.6.72-1.6 1.6v9.6c0 .88.72 1.6 1.6 1.6h9.6c.88 0 1.6-.72 1.6-1.6v-9.6c0-.88-.72-1.6-1.6-1.6zm-2.351 10.231l-2.449-2.448-2.449 2.449-1.382-1.383 2.448-2.449-2.448-2.448 1.382-1.383 2.449 2.448 2.448-2.448 1.383 1.382-2.448 2.449 2.449 2.449-1.383 1.382z"/></svg></a>
                                <!-- Are you sure to delete the "1st September" video? -->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="https://vimeo.com/27121249" title="Watch on vimeo"><svg class="svg-icon animate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M15.128 4.673c-.805 4.618-5.3 8.528-6.652 9.421-1.353.893-2.586-.358-3.034-1.304-.512-1.078-2.047-6.926-2.45-7.409-.402-.486-1.608.483-1.608.483l-.585-.781s2.45-2.98 4.314-3.352c1.976-.394 1.973 3.091 2.448 5.026.46 1.873.769 2.945 1.17 2.945.402 0 1.17-1.045 2.01-2.646.842-1.602-.036-3.017-1.682-2.011.658-4.022 6.873-4.99 6.068-.373z"/></svg></a>
                                <a href="#">Viena Diena (20:18)</a><!-- открыть попап для порсмотра видео -->
                            </td>
                            <td>
                                <div><a href="#" title="Attach news"><svg class="svg-icon animate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M3.969 16c-1.069 0-2.07-.453-2.793-1.177-1.4-1.4-1.791-3.845.172-5.808 1.151-1.15 5.759-5.758 8.059-8.058.817-.817 1.855-1.132 2.85-.865.977.261 1.778 1.062 2.04 2.039.266.995-.05 2.034-.866 2.85l-7.706 7.706c-.44.44-.937.701-1.437.753-.494.052-.966-.107-1.298-.438-.6-.599-.685-1.727.312-2.723l5.412-5.414c.222-.222.583-.222.806 0 .222.222.222.583 0 .806l-5.413 5.413c-.468.468-.511.915-.312 1.114.087.086.22.126.373.11.234-.025.502-.177.751-.426l7.706-7.706c.529-.529.731-1.15.57-1.751-.158-.591-.643-1.076-1.234-1.234-.601-.161-1.222.042-1.751.57-2.299 2.3-6.907 6.908-8.058 8.058-1.501 1.501-1.142 3.228-.173 4.198.97.969 2.697 1.329 4.198-.173l8.058-8.058c.222-.222.583-.222.805 0 .222.222.222.583 0 .805l-8.058 8.058c-.95.95-2.012 1.349-3.015 1.349z"/></svg></div>
                            </td>
                            <td>
                                <div><a href="#" title="Attach miniforum"><svg class="svg-icon animate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M3.969 16c-1.069 0-2.07-.453-2.793-1.177-1.4-1.4-1.791-3.845.172-5.808 1.151-1.15 5.759-5.758 8.059-8.058.817-.817 1.855-1.132 2.85-.865.977.261 1.778 1.062 2.04 2.039.266.995-.05 2.034-.866 2.85l-7.706 7.706c-.44.44-.937.701-1.437.753-.494.052-.966-.107-1.298-.438-.6-.599-.685-1.727.312-2.723l5.412-5.414c.222-.222.583-.222.806 0 .222.222.222.583 0 .806l-5.413 5.413c-.468.468-.511.915-.312 1.114.087.086.22.126.373.11.234-.025.502-.177.751-.426l7.706-7.706c.529-.529.731-1.15.57-1.751-.158-.591-.643-1.076-1.234-1.234-.601-.161-1.222.042-1.751.57-2.299 2.3-6.907 6.908-8.058 8.058-1.501 1.501-1.142 3.228-.173 4.198.97.969 2.697 1.329 4.198-.173l8.058-8.058c.222-.222.583-.222.805 0 .222.222.222.583 0 .805l-8.058 8.058c-.95.95-2.012 1.349-3.015 1.349z"/></svg></a></div>                                
                            </td>
                            <td>
                                <div><a href="#" title="Attach event"><svg class="svg-icon animate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M3.969 16c-1.069 0-2.07-.453-2.793-1.177-1.4-1.4-1.791-3.845.172-5.808 1.151-1.15 5.759-5.758 8.059-8.058.817-.817 1.855-1.132 2.85-.865.977.261 1.778 1.062 2.04 2.039.266.995-.05 2.034-.866 2.85l-7.706 7.706c-.44.44-.937.701-1.437.753-.494.052-.966-.107-1.298-.438-.6-.599-.685-1.727.312-2.723l5.412-5.414c.222-.222.583-.222.806 0 .222.222.222.583 0 .806l-5.413 5.413c-.468.468-.511.915-.312 1.114.087.086.22.126.373.11.234-.025.502-.177.751-.426l7.706-7.706c.529-.529.731-1.15.57-1.751-.158-.591-.643-1.076-1.234-1.234-.601-.161-1.222.042-1.751.57-2.299 2.3-6.907 6.908-8.058 8.058-1.501 1.501-1.142 3.228-.173 4.198.97.969 2.697 1.329 4.198-.173l8.058-8.058c.222-.222.583-.222.805 0 .222.222.222.583 0 .805l-8.058 8.058c-.95.95-2.012 1.349-3.015 1.349z"/></svg></div>
                            </td>
                            <td>
                                <div><a href="#" title="Attach place"><svg class="svg-icon animate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M3.969 16c-1.069 0-2.07-.453-2.793-1.177-1.4-1.4-1.791-3.845.172-5.808 1.151-1.15 5.759-5.758 8.059-8.058.817-.817 1.855-1.132 2.85-.865.977.261 1.778 1.062 2.04 2.039.266.995-.05 2.034-.866 2.85l-7.706 7.706c-.44.44-.937.701-1.437.753-.494.052-.966-.107-1.298-.438-.6-.599-.685-1.727.312-2.723l5.412-5.414c.222-.222.583-.222.806 0 .222.222.222.583 0 .806l-5.413 5.413c-.468.468-.511.915-.312 1.114.087.086.22.126.373.11.234-.025.502-.177.751-.426l7.706-7.706c.529-.529.731-1.15.57-1.751-.158-.591-.643-1.076-1.234-1.234-.601-.161-1.222.042-1.751.57-2.299 2.3-6.907 6.908-8.058 8.058-1.501 1.501-1.142 3.228-.173 4.198.97.969 2.697 1.329 4.198-.173l8.058-8.058c.222-.222.583-.222.805 0 .222.222.222.583 0 .805l-8.058 8.058c-.95.95-2.012 1.349-3.015 1.349z"/></svg></div>                            
                            </td>
                            <td>
                                <a href="#" title="Edit"><svg class="svg-icon animate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M13.428 8c0-.838.516-1.5 1.292-1.954-.141-.467-.325-.916-.553-1.338-.872.228-1.577-.114-2.169-.706-.594-.593-.775-1.298-.547-2.169-.422-.228-.869-.414-1.338-.554-.454.777-1.276 1.293-2.114 1.293-.838 0-1.658-.516-2.114-1.293-.469.139-.916.326-1.338.553.227.871.046 1.577-.546 2.17-.593.592-1.298.934-2.169.706-.228.421-.414.87-.554 1.337.777.454 1.293 1.116 1.293 1.954 0 .838-.516 1.659-1.293 2.114.14.468.326.916.554 1.338.871-.228 1.576-.046 2.169.546.593.593.774 1.298.546 2.169.422.228.87.414 1.338.554.455-.778 1.276-1.293 2.114-1.293.838 0 1.66.516 2.114 1.293.469-.14.916-.326 1.338-.554-.228-.871-.047-1.576.547-2.169.592-.592 1.297-.934 2.169-.706.228-.422.413-.87.553-1.338-.777-.455-1.293-1.117-1.293-1.954zm-5.428 2.922c-1.614 0-2.922-1.309-2.922-2.922s1.308-2.922 2.922-2.922 2.922 1.309 2.922 2.922-1.308 2.922-2.922 2.922z"/></svg></a>
                                <a href="#" title="Delete"><svg class="svg-icon animate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M12.8 1.6h-9.6c-.88 0-1.6.72-1.6 1.6v9.6c0 .88.72 1.6 1.6 1.6h9.6c.88 0 1.6-.72 1.6-1.6v-9.6c0-.88-.72-1.6-1.6-1.6zm-2.351 10.231l-2.449-2.448-2.449 2.449-1.382-1.383 2.448-2.449-2.448-2.448 1.382-1.383 2.449 2.448 2.448-2.448 1.383 1.382-2.448 2.449 2.449 2.449-1.383 1.382z"/></svg></a>
                                <!-- Are you sure to delete the "Viena Diena" video? -->
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- <div class="center smaller lighter">Сохраняю...</div> -->
            </div>
        </div>
</div>
{% endblock mainContent %}

{% block fileUploadCss %}
{% endblock fileUploadCss %}

{% block fileUploadScripts %}
{% endblock fileUploadScripts %}

