<section id="comments" name="comments">
    <div class="section-heading special">17 comments</div>
    <div class="has-background add30inside">
        <ul class="comment-list">
            <li>
                <a class="avatar size-80" href="#user"><img src="img/80x80/1.jpg"></a>
                <div class="comment-data">
                    <a href="#user">Roberts</a><span class="smaller lighter">16 December 2014, 19:35</span><a href="#reply" class="reply">Reply</a>
                    <div>Cool</div>
                </div>
            </li>
            <li>
                <a class="avatar size-80" href="#user"><img src="img/80x80/1.jpg"></a>
                <div class="comment-data">
                    <a href="#user">Roberts</a><span class="smaller lighter">16 December 2014, 19:35</span><a href="#reply" class="reply">Reply</a>
                    <div>Nu labi, ka vēl atcerējāties kas par nedēļas dienu un vismaz atpakaļ laicīgi tikāt. Paldies, Na$alnika, vienmēr patīkami lasīt Tavus stāstus - piedzīvojumu gars vēl ir dzīvs! ;-)</div>
                </div>
            </li>
            <li>
                <a class="avatar size-80" href="#user"><img src="img/80x80/2.jpg"></a>
                <div class="comment-data">
                    <a href="#user">Dzintars Reiniks</a><span class="smaller lighter">16 December 2014, 19:35</span><a href="#reply" class="reply">Reply</a>
                    <div>Nu bildes pipec labas. Patīk koncepts, ka ceļot var tikai ar paraplānu, saules baterijām un kāsi. To laikam sauc par zaļo dzīvesveidu! :D</div>
                </div>
            </li>
            <li>
                <a class="avatar size-80" href="#user"><img src="img/80x80/3.jpg"></a>
                <div class="comment-data">
                    <a href="#user">Armands Leļmežs</a><span class="smaller lighter">16 December 2014, 19:35</span><a href="#reply" class="reply">Reply</a>
                    <div>Bildes super!!!!!!!Uzreiz ienāca doma musu deputātus aizsūtīt uz nedēļu padzīvot kalnos,lai izjūt visas labierīcības...:)</div>
                </div>
            </li>
            <li>
                <a class="avatar size-80" href="#user"><img src="img/80x80/4.jpg"></a>
                <div class="comment-data">
                    <a href="#user">Jānis Kurtišs</a><span class="smaller lighter">16 December 2014, 19:35</span><a href="#reply" class="reply">Reply</a>
                    <div>Bāaaa - tagad pastrādāt nevarēšu - domās lidoju ar paraplānu un staigāju pa kalniem :D</div>
                </div>
            </li>
            <li>
                <a class="avatar size-80" href="#user"><img src="img/80x80/5.jpg"></a>
                <div class="comment-data">
                    <a href="#user">Aleksander Kalichava</a><span class="smaller lighter">16 December 2014, 19:35</span><a href="#reply" class="reply">Reply</a>
                    <div>Сашка и Мишка в стране чудес .)</div>
                </div>
            </li>
            <li class="offset">
                <a class="avatar size-80" href="#user"><img src="img/80x80/1.jpg"></a>
                <div class="comment-data">
                    <a href="#user">Jānis Kurtišs</a><span class="smaller lighter">16 December 2014, 19:35</span><a href="#reply" class="reply">Reply</a>
                    <div>Bāaaa - tagad pastrādāt nevarēšu - domās lidoju ar paraplānu un staigāju pa kalniem :D</div>
                </div>
            </li>
            <li class="offset">
                <a class="avatar size-80" href="#user"><img src="img/80x80/2.jpg"></a>
                <div class="comment-data">
                    <a href="#user">Aleksander Kalichava</a><span class="smaller lighter">16 December 2014, 19:35</span><a href="#reply" class="reply">Reply</a>
                    <div>Bāaaa - tagad pastrādāt nevarēšu - domās lidoju ar paraplānu un staigāju pa kalniem :D</div>
                </div>
            </li>
            <li class="offset2">
                <a class="avatar size-80" href="#user"><img src="img/80x80/3.jpg"></a>
                <div class="comment-data">
                    <a href="#user">Name Surname</a><span class="smaller lighter">16 December 2014, 19:35</span><a href="#reply" class="reply">Reply</a>
                    <div>Nu labi, ka vēl atcerējāties kas par nedēļas dienu un vismaz atpakaļ laicīgi tikāt. Paldies, Na$alnika, vienmēr patīkami lasīt Tavus stāstus - piedzīvojumu gars vēl ir dzīvs! ;-)</div>
                </div>
            </li>
            <li>
                <a class="avatar size-80" href="#user"><img src="img/80x80/4.jpg"></a>
                <div class="comment-data">
                    <a href="#user">Armands Leļmežs</a><span class="smaller lighter">16 December 2014, 19:35</span><a href="#reply" class="reply">Reply</a>
                    <div>Bildes super!!!!!!!Uzreiz ienāca doma musu deputātus aizsūtīt uz nedēļu padzīvot kalnos,lai izjūt visas labierīcības...:)</div>
                </div>
            </li>
            <li class="wide">
                <a class="my avatar size-80" href="#user"><img src="img/80x80/4.jpg"></a>
                <div class="comment-data">
                    <form method="post" action="#reply">
                        <textarea placeholder="Your comment" id="newCommentField"></textarea>
                        <div class="button"><input type="submit" value="Publish" id="publishButton"></div>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</section>
