<div class="faq-container">
    <div class="topic">
        <a name="question1" id="question1"></a>
        <h6 class="question">Vai tas ir priekš jums?</h6>
        <div class="answer">
            <p>Uz jautājumu, vai ir vērts sākt nodarboties ar paraplanierismu, vai tāds hobijs jums der, katrs varēs atbildēt pats pēc lidojuma tandēmā ar instruktoru Rumbulas lidlaukā. Tas ir vienkāršs planējošs lidojums. Pilotu un pasažieri uzvelk gaisā ar speciālās vinčas palīdzību 400-500 metru augstumā (atkarībā no vēja virziena un ātruma). Instruktors atkabinās no troses, un jūs sākat lēni planēt uz leju. Jūs varēsiet ieraudzīt visu Rīgu, tuvāko apkārtni un jūru. Ja jūs kārojat pēc asākām izjūtām, pilots var izpildīt arī dažus akrobatikas elementus – adrenalīns asinīs garantēts! Ja ar vienu lidojumu liksies par maz – laipni lūgti lidot otro un trešo reizi! Un ja jūs sapratīsiet, ka gribat mācīties un lidot patstāvīgi, varat turpat uz vietas pierakstīties skolā.</p>
        </div>
    </div>
    <div class="topic">
        <a name="question2" id="question2"></a>
        <h6 class="question">Kad notiek apmācība?</h6>
        <div class="answer">
            <p>Apmācība notiek no aprīļa sākuma līdz septembra beigām Rumbulas lidlaukā, parasti no 17.00 līdz tumsai, ja ir labs laiks. Sākot ar oktobri līdz marta beigām apmācība notiek tikai brīvdienās vai individuālās pieejas gadījumā dienā (izņēmuma kārtā, ja skolnieks var mācīties tikai darba dienās).</p>
        </div>
    </div>
    <div class="topic">
        <a name="question3" id="question3"></a>
        <h6 class="question">Kur notiek apmācība (teorija un prakse)?</h6>
        <div class="answer">
            <p>Praktiskās nodarbības notiek darba dienās, kad laika apstākļi ir labvēlīgi (nelīst lietus un vējš nav stiprāks par 5 m/s), Rumbulas lidlaukā, vienā no tā galiem atkarībā no vēja virziena.</p>
            <p>Teorētiskās nodarbības notiek darba dienās, kad lidojumi nav iespējami (līst un/vai vējš ir stiprāks par 5 m/s), Maskavas ielā 191a, 2 stāvā.</p>
        </div>
    </div>
    <div class="topic">
        <a name="question4" id="question4"></a>
        <h6 class="question">Kā notiek apmācība?</h6>
        <div class="answer">
            <p>Apmācība ir iedalīta divos kursos. Praktiskās nodarbības notiek Rumbulas lidlaukā tikai instruktora klātbūtnē.</p>
            <ul class="styled">
                <li>
                    <p><b>1. kurss:</b> teorija + praktiskās nodarbības uz lauka (darbs ar spārnu) + lidojums tandēmā ar instruktoru + 12 patstāvīgie lidojumi. Pirmā kursa mērķis ir elementāro iemaņu apguve: pareizais starts, nolaišanās, paraplāna stūrēšana bez klevanšu (bremžu) palīdzības, pagriezieni gaisā, rezerves izpletņa izmešanas imitācija.</p>
                    <p>Pēc pirmā kursa skolniekam jau būs priekštats par šo sporta veidu, un viņam būs jāizšķiras, vai viņš grib turpināt apmācību. Ja viņa atbilde ir „Jā, man tas patīk”, viņš sāk apgūt otro kursu. Jāņēm vērā arī tas, ka drīz būs jāiegādājas savs ekipējums, ar ko lidot pēc apmācības pabeigšanas.</p>
                </li>

                <li>
                    <p><b>2. kurss:</b> teorija (meteoroloģija un aerodinamika, Latvijas Republikas gaisa telpas izmantošanas kārtība) + 20 patstāvīgie lidojumi. Uzdevumi: ieskrējiens un spārna bremzēšana (knābiens), spirāle, vingovers, nolaišanās precizitāte, „ausis”, nosēšanās ar „ausīm”, akseleratora izmantošana.</p>
                    <p>Visās praktiskajās nodarbībās tiek lietots skolas ekipējums, un nekādu papildus izmaksu NAV. Ja skolniekam ir savs ekipējums, viņam pienākas atlaide apmācībai. Patstāvīgo lidojumu laikā skolnieks ne tikai mācās vienkārši lidot, bet arī izpilda un apgūst dažādus manevrēšanas paņēmienus, kas nākotnē ļaus viņam droši lidot. Lidojumu laikā tiek nodrošināti radiosakari (instruktors vada skolnieku ar rācijas palīdzību). Pēc apmācības pabeigšanas skolnieks kārto eksāmenu Latvijas paraplanierisma federācijas (LPF) pārstāvim un saņem starptautisko pilota licenci.</p>
                </li>

            </ul>
        </div>
    </div>
    <div class="topic">
        <a name="question5" id="question5"></a>
        <h6 class="question">Kā lai uzzinu, vai šodien ir nodarbības?</h6>
        <div class="answer">
            <p>Lai varētu informēt skolniekus par nodarbībām, skolai ir speciālā SMS-sistēma. Katras dienas rītā vai dienu iepriekš skolnieks saņem īsziņu par to, kur un cikos notiks nodarbības. Lai piereģistrētos SMS-sistēmā, izmantojiet SMS sistēmas izvēlni lapas kreisajā pusē.</p>
        </div>
    </div>
    <div class="topic">
        <a name="question6" id="question6"></a>
        <h6 class="question">Cik ilgi jāmācās?</h6>
        <div class="answer">
            <p>Apmācības process ilgst 1-2 mēneši, ja skolnieks regulāri ierodas nodarbībās. Ja viņš apmeklēs nodarbības reti, tad arī efektivitāte būs zema un viņš mācīsies 3 mēnešus. Ziemā efektivitāte ir zema, tāpēc termiņš palielinās līdz pat 6 mēnešiem. Apmācības ilguma rekordi: īsākais – 2 nedēļas, garākais – mūžība (cilvēks trenējās uz zemes, skraidīja, bet tā arī nelidoja patstāvīgi – gadās arī tā...).</p>
        </div>
    </div>
    <div class="topic">
        <a name="question7" id="question7"></a>
        <h6 class="question">Cik augsti vinčo? Cik ilgst viens lidojums?</h6>
        <div class="answer">
            <p>Lidojuma augstums Rumbulā sasniedz 300-400 metrus, dažreiz līdz 500 metriem (spirāles izpildīšanai). Augstāk nedrīkst: to nosaka Latvijas Republikas gaisa telpas izmantošanas noteikumi. Mācību lidojuma ilgums ir 4-8 minūtes. Citās Latvijas vietās var lidot arī augstāk (atļautais augstums ir 3000 m) – tur klubs lido brīvdienās, un pilots var pavadīt gaisā vairākas stundas.</p>
        </div>
    </div>
    <div class="topic">
        <a name="question8" id="question8"></a>
        <h6 class="question">Vai piezemējoties sitiens pret zemi ir stiprs?</h6>
        <div class="answer">
            <p>Ja pareizi sabremzēt spārnu pirms piezemēšanās, tad tas ir tāds pats, kā izkāpjot no gultas. Bet tas ir ideāls variants, biežāk izjūtas ir kā noliecot no taburetes.</p>
        </div>
    </div>
    <div class="topic">
        <a name="question9" id="question9"></a>
        <h6 class="question">Vai lidojuma laikā pilotam ir rezerves izpletnis?</h6>
        <div class="answer">
            <p>Vienmēr ir! Lidojumi vinčojoties bez rezerves izpletņa ir <b>aizliegti</b>!</p>
        </div>
    </div>
    <div class="topic">
        <a name="question10" id="question10"></a>
        <h6 class="question">Vai rezerves izpletnis kādreiz tika izmantots?</h6>
        <div class="answer">
            <p>Jā, pēdējo 10 gadu laikā izpletnis Latvijā tika izmantots divreiz – tikai neveiksmīgo akrobātisko triku rezultātā. Parastajos lidojumos rezerve NEKAD nav izmantota. Ārpus Latvijas, lidojot kalnos, izpletnis ir izmests divreiz. Iemesli – laika apstākļu nepareizais novērtējums un neizdevies akrobātiskais triks. Treniņa rezerves izpletņa izmešana ir viens no SIV-kursa uzdevumiem, ko izpilda virs Rīgas HES ūdenskrātuves.</p>
        </div>
    </div>
</div>