<!-- https://github.com/sapegin/jquery.mosaicflow -->
<div class="clearfix mosaicflow" data-min-item-width="400" data-item-height-calculation="attribute">
    <a href="#" class="mosaicflow__item">
        <img src="img/570/gallery-1.jpg" width="570" height="380" />
        <p>Maslenica 2014<span>12 March 2013</span></p>
    </a>

    <a href="#" class="mosaicflow__item">
        <img src="img/570/gallery-2.jpg" width="570" height="321" />
        <p>Gallery title<span>12 March 2013</span></p>
    </a>

    <a href="#" class="mosaicflow__item">
        <img src="img/570/gallery-3.jpg" width="570" height="380" />
        <p>Trakai 2014<span>12 March 2013</span></p>
    </a>

    <a href="#" class="mosaicflow__item">
        <img src="img/570/gallery-4.jpg" width="570" height="380" />
        <p>Columbia 2014 part 4<span>12 March 2013</span></p>
    </a>

    <a href="#" class="mosaicflow__item">
        <img src="img/570/gallery-5.jpg" width="570" height="380" />
        <p>Columbia 2014 part 3<span>12 March 2013</span></p>
    </a>

    <a href="#" class="mosaicflow__item">
        <img src="img/570/gallery-6.jpg" width="570" height="428" />
        <p>Columbia 2014 part 2<span>12 March 2013</span></p>
    </a>	

    <a href="#" class="mosaicflow__item">
        <img src="img/570/gallery-7.jpg" width="570" height="377" />
        <p>Columbia 2014 part 1<span>12 March 2013</span></p>
    </a>

    <a href="#" class="mosaicflow__item">
        <img src="img/570/gallery-8.jpg" width="570" height="380" />
        <p>Rumbula 2014/01/19<span>12 March 2013</span></p>
    </a>

    <a href="#" class="mosaicflow__item">
        <img src="img/570/gallery-9.jpg" width="570" height="428" />
        <p>Gada pirts 2013<span>12 March 2013</span></p>
    </a>

    <a href="#" class="mosaicflow__item">
        <img src="img/570/gallery-10.jpg" width="570" height="319" />
        <p>India 2013<span>12 March 2013</span></p>
    </a>

    <a href="#" class="mosaicflow__item">
        <img src="img/570/gallery-1.jpg" width="570" height="380" />
        <p>Maslenica 2014<span>12 March 2013</span></p>
    </a>

    <a href="#" class="mosaicflow__item">
        <img src="img/570/gallery-2.jpg" width="570" height="321" />
        <p>Gallery title<span>12 March 2013</span></p>
    </a>

    <a href="#" class="mosaicflow__item">
        <img src="img/570/gallery-3.jpg" width="570" height="380" />
        <p>Trakai 2014<span>12 March 2013</span></p>
    </a>

    <a href="#" class="mosaicflow__item">
        <img src="img/570/gallery-4.jpg" width="570" height="380" />
        <p>Columbia 2014 part 4<span>12 March 2013</span></p>
    </a>

    <a href="#" class="mosaicflow__item">
        <img src="img/570/gallery-5.jpg" width="570" height="380" />
        <p>Columbia 2014 part 3<span>12 March 2013</span></p>
    </a>

    <a href="#" class="mosaicflow__item">
        <img src="img/570/gallery-6.jpg" width="570" height="428" />
        <p>Columbia 2014 part 2<span>12 March 2013</span></p>
    </a>	

    <a href="#" class="mosaicflow__item">
        <img src="img/570/gallery-7.jpg" width="570" height="377" />
        <p>Columbia 2014 part 1<span>12 March 2013</span></p>
    </a>

    <a href="#" class="mosaicflow__item">
        <img src="img/570/gallery-8.jpg" width="570" height="380" />
        <p>Rumbula 2014/01/19<span>12 March 2013</span></p>
    </a>

    <a href="#" class="mosaicflow__item">
        <img src="img/570/gallery-9.jpg" width="570" height="428" />
        <p>Gada pirts 2013<span>12 March 2013</span></p>
    </a>

    <a href="#" class="mosaicflow__item">
        <img src="img/570/gallery-10.jpg" width="570" height="319" />
        <p>India 2013<span>12 March 2013</span></p>
    </a>
    <a href="#" class="mosaicflow__item">
        <img src="img/570/gallery-1.jpg" width="570" height="380" />
        <p>Maslenica 2014<span>12 March 2013</span></p>
    </a>

    <a href="#" class="mosaicflow__item">
        <img src="img/570/gallery-2.jpg" width="570" height="321" />
        <p>Gallery title<span>12 March 2013</span></p>
    </a>

    <a href="#" class="mosaicflow__item">
        <img src="img/570/gallery-3.jpg" width="570" height="380" />
        <p>Trakai 2014<span>12 March 2013</span></p>
    </a>

    <a href="#" class="mosaicflow__item">
        <img src="img/570/gallery-4.jpg" width="570" height="380" />
        <p>Columbia 2014 part 4<span>12 March 2013</span></p>
    </a>

    <a href="#" class="mosaicflow__item">
        <img src="img/570/gallery-5.jpg" width="570" height="380" />
        <p>Columbia 2014 part 3<span>12 March 2013</span></p>
    </a>

    <a href="#" class="mosaicflow__item">
        <img src="img/570/gallery-6.jpg" width="570" height="428" />
        <p>Columbia 2014 part 2<span>12 March 2013</span></p>
    </a>	

    <a href="#" class="mosaicflow__item">
        <img src="img/570/gallery-7.jpg" width="570" height="377" />
        <p>Columbia 2014 part 1<span>12 March 2013</span></p>
    </a>

    <a href="#" class="mosaicflow__item">
        <img src="img/570/gallery-8.jpg" width="570" height="380" />
        <p>Rumbula 2014/01/19<span>12 March 2013</span></p>
    </a>

    <a href="#" class="mosaicflow__item">
        <img src="img/570/gallery-9.jpg" width="570" height="428" />
        <p>Gada pirts 2013<span>12 March 2013</span></p>
    </a>

    <a href="#" class="mosaicflow__item">
        <img src="img/570/gallery-10.jpg" width="570" height="319" />
        <p>India 2013<span>12 March 2013</span></p>
    </a>
</div>
<div class="button at-center"><a href="?page=media&sub=photo">load more photos</a></div>
