<section class="photogallery" id="photogallery" name="photogallery">
    <div class="section-heading special">Club photogallery</div>
    <ul class="photogallery-list{% if(widegallery == 1) %} wide{% endif %}">
        <li><a href="img/tandems/1.jpg"><img src="img/tandems/small/1.jpg"></a></li>
        <li><a href="img/tandems/2.jpg"><img src="img/tandems/small/2.jpg"></a></li>
        <li><a href="img/tandems/3.jpg"><img src="img/tandems/small/3.jpg"></a></li>
        <li><a href="img/tandems/4.jpg"><img src="img/tandems/small/4.jpg"></a></li>
        <li><a href="img/tandems/5.jpg"><img src="img/tandems/small/5.jpg"></a></li>
        <li><a href="img/tandems/6.jpg"><img src="img/tandems/small/6.jpg"></a></li>
        <li><a href="img/tandems/7.jpg"><img src="img/tandems/small/7.jpg"></a></li>
        <li><a href="img/tandems/8.jpg"><img src="img/tandems/small/8.jpg"></a></li>
        <li><a href="img/tandems/9.jpg"><img src="img/tandems/small/9.jpg"></a></li>
        <li><a href="img/tandems/10.jpg"><img src="img/tandems/small/10.jpg"></a></li>
        <li><a href="img/tandems/11.jpg"><img src="img/tandems/small/11.jpg"></a></li>
        <li><a href="img/tandems/12.jpg"><img src="img/tandems/small/12.jpg"></a></li>
        <li><a href="img/tandems/13.jpg"><img src="img/tandems/small/13.jpg"></a></li>
        <li><a href="img/tandems/14.jpg"><img src="img/tandems/small/14.jpg"></a></li>
        <li><a href="img/tandems/15.jpg"><img src="img/tandems/small/15.jpg"></a></li>
        <li><a href="img/tandems/16.jpg"><img src="img/tandems/small/16.jpg"></a></li>
        <li><a href="img/tandems/17.jpg"><img src="img/tandems/small/17.jpg"></a></li>
        <li><a href="img/tandems/18.jpg"><img src="img/tandems/small/18.jpg"></a></li>
        <li><a href="img/tandems/19.jpg"><img src="img/tandems/small/19.jpg"></a></li>
        <li><a href="img/tandems/20.jpg" class="more-images"><svg xmlns="http://www.w3.org/2000/svg" class="svg-icon" viewBox="0 0 16 16"><path d="M4.48 13.934c-.214.217-.214.566 0 .783s.561.217.775 0l6.264-6.326c.214-.217.214-.567 0-.783l-6.264-6.326c-.214-.217-.561-.217-.775 0s-.214.566 0 .783l5.712 5.934-5.712 5.934z"/></svg></a></li>
    </ul>
</section>
