<!-- добавить класс .error при вводе неправильных логина или пароля -->
<form class="pilot-login error" id="pilot-login" method="post" action="index.php" name="pilot-login-form">
    <div><input type="text" id="login-form-login" name="login-form-login" maxlength="30" placeholder="Your login" /></div>
    <div><input type="password" id="login-form-password" name="login-form-login" maxlength="30" placeholder="Password" /></div>
    <div class="button inverse wide"><input type="button" value="Enter"></div>
</form>