<section class="add30b">
    <div><span class="section-heading">SMS System for students</span></div>
    <div class="sms-system">
        <p>Norādiet savu SMS identifikatoru, ja jūs vēlaties saņemt SMS par to, kad un kur notiek paraplānu apmācība.</p>
        <form method="post" action="#">
            <input type="email" placeholder="Mans&nbsp;SMS&nbsp;identifikators" name="smsid">
            <div class="button wide"><input type="submit" value="Send"></div>
        </form>
        <p class="small">Vajag palidzibu? Kāds ir jūsu operators?</p>
        <div id="sms-tabs">
            <a href="#lmt">LMT</a>
            <a href="#tele2">TELE2</a>
            <a href="#bite">BITE</a>
        </div>
        <div id="lmt" class="sms-section"><p>Lai saņemtu SMS identifikatoru nosūti SMS tekstu ADRESE xxx uz numuru 29319915, kur xxx - tava identifikatora daļa (līdz @ zīmei)</p></div>
        <div id="tele2" class="sms-section"><p>Lai saņemtu SMS identifikatoru nosūti SMS tekstu "on" uz numuru 1612</p></div>
        <div id="bite" class="sms-section"><p>Jūsu SMS identifikators ir 371xxxxxxxx@biteplus.lv, kur 371xxxxxxxx ir Jūsu tālruņa numurs.</p></div>
    </div>
</section>
