<section>
    <div><a class="section-heading" href="#upcoming-events">Upcoming events</a></div>
    <ul class="upcoming-events">
        <li onclick="location.href = '#read';">
            <div class="period">
                <div class="date">
                    <div class="day">13</div>
                    <div class="month">January</div>
                </div>                                 
            </div>
            <a class="event-title" href="#event">Brauciens uz Kolumbiju</a>
        </li>
        <li onclick="location.href = '#read';">
            <div class="period">
                <div class="date">
                    <div class="day">14</div>
                    <div class="month">February</div>
                </div>
            </div>
            <a class="event-title" href="#event">Trakai accuracy Championship</a>
        </li>
        <li onclick="location.href = '#read';">
            <div class="period">
                <div class="date">
                    <div class="day">13</div>
                    <div class="month">January</div>
                </div>                                 
            </div>
            <a class="event-title" href="#event">Brauciens uz Kolumbiju</a>
        </li>
        <li onclick="location.href = '#read';">
            <div class="period">
                <div class="date">
                    <div class="day">14</div>
                    <div class="month">February</div>
                </div>
            </div>
            <a class="event-title" href="#event">Trakai accuracy Championship</a>
        </li>
        <li onclick="location.href = '#read';">
            <div class="period">
                <div class="date">
                    <div class="day">12</div>
                    <div class="month">April</div>
                </div>
            </div>
            <a class="event-title" href="#event">Kluba un skolas brauciens uz kalniem. Itālija, Bassano, Monte Grappa.</a>
        </li>
    </ul>
    <div class="button wide"><a href="#">Event calendar</a></div>
</section>