<section id="video" name="video">
    <div class="section-heading special">video title from youtube (if possible)</div>
    <div class="video-container">
        <iframe height="450" width="100%"  src="//player.vimeo.com/video/34675448?color=000000&badge=0&byline=0&portrait=0&title=0&player_id=MainpagePlayer" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</section>
