<section>
    <div><a class="section-heading" href="#photo-and-video">Photo/Video</a></div>
    <div class="random-video">
        <!-- 
            показывать только 1 плейер в правой колонке, показывать случайное видео из тех, что отмечаны в админке как "Показыать на главной"
            остальные параметры дописываются автоматически
        
            //player.vimeo.com/video/27121249           ?color=000000&badge=0&byline=0&portrait=0&title=0&player        frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen
            //www.youtube.com/embed/bo6Zmzj249k         ?rel=0&modestbranding=1&theme=light&showinfo=0&autohide=1       frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen

        <iframe width="100%" height="179" src="//player.vimeo.com/video/27121249?color=000000&badge=0&byline=0&portrait=0&title=0&player_id=MainpagePlayer" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        -->
        <iframe width="100%" height="179" src="//www.youtube.com/embed/76ybNxW-CRU?rel=0&modestbranding=1&theme=light&showinfo=0&autohide=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>                            
    </div>
    <div class="button wide"><a href="#">Visit media gallery</a></div>
</section>